.tv-container {
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1700px;
    z-index: 2;
    filter: hue-rotate(138deg) blur(2px);
}

.tv-one {
    transform: rotateY(-10deg);
    margin: 5rem 0 0 10rem;
    padding: 0;
    transform-style: preserve-3d;
    position: relative;
}

.tv-two {
    transform: rotateY(10deg);
    margin: 1rem 10rem 0.8rem 0;
    padding: 0;
    position: relative;
    transform-style: preserve-3d;
}

.tv-three {
    transform: rotateY(-10deg);
    margin: 0.5rem 0 10rem 10rem;
    padding: 0;
    position: relative;
    transform-style: preserve-3d;
}

.tv-frame {
    width: 60rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-radius: 20px; */
    background-color: #4c240c;
}

.tv-one > .side-panel {
    width: 20rem;
    height: 45rem;
    position: absolute;
    top: 0;
    right: -10rem;
    transform: rotateY(80deg) translateX(9.9rem);
    background-color: #5c2c0e;
}

.tv-one > .bottom-panel {
    width: 60rem;
    height: 9.5rem;
    position: absolute;
    top: 36.6rem;
    left: 1.8rem;
    background-color: #44210b;
    transform: rotateX(101deg) translateY(-15rem) skewX(-19deg);
}

.tv-two > .left-side {
    width: 10rem;
    height: 42.7rem;
    position: absolute;
    top: 1.3rem;
    left: -7.4rem;
    transform: rotateY(106deg) translateX(-4.8rem);
    background-color: #5c2c0e;
}

.tv-three > .side-panel {
    width: 20rem;
    height: 45rem;
    position: absolute;
    top: -0.7rem;
    right: -10rem;
    transform: rotateY(77deg) translateX(9.9rem) skewY(-4deg);
    background-color: #5c2c0e;
}

.tv-three > .top-panel {
    width: 60rem;
    height: 13rem;
    position: absolute;
    top: -6.7rem;
    left: 2.2rem;
    background-color: #44210b;
    transform: rotateX(81deg) translateY(-5.7rem) skewX(-18deg);
}

.tv-front-panel {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    background-color: #291a12;
    border: #713c0f solid 2px;
    border-radius: 15px;
    overflow: hidden;
}

.tv-screen-area {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv-screen {
    width: 90%;
    height: 80%;
    color: #1b1816;
    padding: 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 10rem 4rem #54493c,
                0 0 3rem 1rem #515442;
}

.tv-right-panel {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.tv-switches-panel {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #613518;
}

.switch-one {
    width: 50px;
    height: 50px;
    background: linear-gradient(270deg, #1b1816, #3b3632);
    border-radius: 25px;
    position: relative;
}

.switch-one::before {
    content: ' ';
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: #2d2925;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 25px;
}

.switch-two-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.switch-two {
    width: 15px;
    height: 40px;
    background: linear-gradient(270deg, #1b1816, #3b3632);
    position: relative;
    /* border-radius: 50px;
    border-width: 5px;
    border-image: linear-gradient(31deg, #1b1816, #3b3632) 1; */
}

.switch-two::before {
    content: ' ';
    width: 80%;
    height: 80%;
    position: absolute;
    background: linear-gradient(0deg, #47413b, #2d2925);
    top: 3px;
    right: 1px;
    bottom: 2px;
}

.tv-speaker {
    width: 100%;
    height: 25%;
    background-color: #231f1c;
    border: 2px solid #613518;
}

.side-panel, .left-side, .top-panel, .bottom-panel {
    filter: brightness(0.5);
}
