.about-screens-container {
    margin-top: 2.5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1700px;
    z-index: 2;
}

.content-frame {
    width: 60rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-front-panel {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

.content-screen {
    width: 90%;
    height: 80%;
    padding: 10px;
    border: solid #3fb690 2px;
    border-radius: 30px;
    box-shadow: 0 0 0.5rem 0.1rem #46c79e,
                inset 0 0 0.5rem 0.1rem #86ffd9;
}

.about-screens-container > .tv-one, .tv-two, .tv-three {
    margin-top: 0;
}