:root {
    --bg-primary-color: #0D1117;
    --bg-secondary-color: #161B22;
    --text-primary-color: #F0F6FC;
    --text-secondary-color: #8B949E;
    --acent-primary-color: #29b739;
    --ac—Åent-secondary-color: #3FB950;
    --back-stripe: #00000070;
}