:root {
    --bg-primary-color: #0D1117;
    --bg-secondary-color: #161B22;
    --bg-glow-color: #1a3219;
    --bg-outer-shadow: #000000;
    --text-primary-color: #F0F6FC;
    --text-secondary-color: #8B949E;
    --acent-primary-color: #1bd330;
    --ac—Åent-secondary-color: #3FB950;
    --back-stripe: #00000070;
}