body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a span {
    font-family: sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 3px #a7a7a7;
}

.menu {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#humburger-button-container {
    display: flex;
    flex-direction: column;
}

#humburger-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.humb-line {
    background-color: #13121e;
    width: 100%;
    height: 15%; 
}

.active {
    display: flex;
}

/* -----------rect buttons------------ */
.wrapper {
    padding: 40px;   
}

.rect-button-top {
    width: 120px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #a7a7a7;
    transform: skew(50deg, -20deg);
}

.rect-button-top > img {
    width: 40px;

}

.rect-button-top > span {
    font-family: sans-serif;
    font-size: 23px;
}

.rect-button-side-left {
    width: 65.5px;
    height: 25px;
    transform: skew(0, 40deg);
    background-color: #6e6e6e;
    position: relative;
    left: -33px;
    top: -5.5px;
}

.rect-button-side-right {
    width: 120px;
    height: 25px;
    transform: skew(0, -20deg);
    background-color: #9e9d9d;
    position: relative;
    top: -25px;
    left: 33px;
}

@media (min-width: 700px) {
    .header{
        height: 100px;
    }

    .mobile {
        display: none;
    }

    .pc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .mobile {
        padding: 28px;
        display: flex;
    }

    .humb-menu {
        display: none;
    }

    .active > .humb-menu {
        display: flex;
        flex-direction: column;
    }

    .menu-element:not(:last-child) {
        margin-bottom: 10px;
    }

    .pc {
        display: none;
    }
}