html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    z-index: 7;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu-element > a span {
    font-family: var(--R-font);
    font-size: 30px;
    color: var(--text-primary-color);
    font-weight: 500;
    transition: opacity 0.2s ease-in-out;
}

.menu-element:hover > a span {
    opacity: 0.6;
}

.header {
    margin: 0;
    padding: 0;
    background-color: var(--bg-secondary-color);
    border-bottom: solid 1px var(--acent-primary-color);
}

.menu {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#humburger-button-container {
    display: flex;
    flex-direction: column;
}

#humburger-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.humb-line {
    background-color: var(--text-primary-color);
    width: 100%;
    height: 15%; 
}

.active {
    display: flex;
}

/*-----------------main-section-----------------*/
#main-section {
    padding-top: 100px;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    padding: 0 5px;
    color: var(--acent-primary-color);
    font-family: var(--R-font);
    font-size: 3.8em;
    font-weight: 500;
    background-color: var(--back-stripe);
    text-align: center;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.75s steps(35, end),
               typing-cursor 1s infinite ease-in-out,
               blinking 3.5s infinite ease-in-out;
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 40%;
    }
}

@keyframes typing-cursor {
    0% {
        border-right: 2px var(--bg-primary-color) solid;
    } 
    50% {
        border-right: 2px var(--acent-primary-color) solid;
    }
    100% {
        border-right: 2px var(--bg-primary-color) solid;
    }
}

@keyframes blinking {
    0% {
        text-shadow: 0 0 2px rgba(0, 255, 0, 0.3);
    }
    50% {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    }
    100% {
        text-shadow: 0 0 2px rgba(0, 255, 0, 0.3);
    }
}

/*-------------------about-section-----------------*/


/*--------------------skills-section------------------*/


/* ----------------projects-section---------------- */


/* -----------rect buttons------------ */
.rect-buttons {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rect-button-top {
    width: 210px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #a7a7a7;
    transform: rotate(-30deg) skew(25deg);
    box-shadow: -20px 20px 15px #202938;
    transition: background-color 0.3s ease-in-out,  translate 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rect-button-top > img {
    width: 45px;
    filter: brightness(0);
    transition: filter 0.3s ease-in-out;
}

.rect-button:hover > .rect-button-top img {
    filter: brightness(1);
}

.rect-button-top span {
    color: #000000;
    font-family: var(--rect-button), sans-serif;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

.rect-button:hover > .rect-button-top span {
    color: #ffffff;
}

.rect-button-top:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background-color: #6e6e6e;
    transform: rotate(0) skewY(-45deg);
    transition: background-color 0.3s ease-in-out
}

.rect-button-top:after {
    content: "";
    position: absolute;
    top: 70px;
    left: -10px;
    width: 100%;
    height: 20px;
    background-color: #9e9d9d;
    transform: rotate(0) skewX(-45deg);
    transition: background-color 0.3s ease-in-out
}

.rect-button:hover > .rect-button-top.git{
    background-color: #229437;
    box-shadow: -40px 40px 45px #202938;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-top.git:before{
    background-color: #13511e;
}

.rect-button:hover > .rect-button-top.git:after{
    background-color: #1c782d;
}

.rect-button:hover > .rect-button-top.telegram{
    background-color: #1c90b7;
    box-shadow: -40px 40px 45px #202938;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-top.telegram:before{
    background-color: #0c3d4e;
}

.rect-button:hover > .rect-button-top.telegram:after{
    background-color: #176e8b;
}

.rect-button:hover > .rect-button-top.gmail{
    background-color: #de4e00;
    box-shadow: -40px 40px 45px #202938;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-top.gmail:before{
    background-color: #753918;
}

.rect-button:hover > .rect-button-top.gmail:after{
    background-color: #ab4812;
}

@media (min-width: 800px) {
    .header{
        height: 100px;
    }

    .mobile {
        display: none;
    }

    .pc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .mobile {
        padding: 28px;
        display: flex;
    }

    .humb-menu {
        display: none;
    }

    .active > .humb-menu {
        display: flex;
        flex-direction: column;
    }

    .menu-element:not(:last-child) {
        margin-bottom: 10px;
    }

    .pc {
        display: none;
    }

    .rect-button-top {
        width: 55px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #a7a7a7;
        transform: rotate(-30deg) skew(25deg);
        box-shadow: -20px 20px 15px #202938;
        transition: background-color 0.3s ease-in-out,  translate 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .rect-button-top:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        width: 20px;
        height: 100%;
        background-color: #6e6e6e;
        transform: rotate(0) skewY(-45deg);
        transition: background-color 0.3s ease-in-out
    }

    .rect-button-top:after {
        content: "";
        position: absolute;
        top: 55px;
        left: -10px;
        width: 100%;
        height: 20px;
        background-color: #9e9d9d;
        transform: rotate(0) skewX(-45deg);
        transition: background-color 0.3s ease-in-out
    }

    .rect-button-top > span {
        display: none;
    }

    @media (max-width: 400px) {
        .wrapper {
            width: 90%;
        }

        .rect-button-top {
            width: 50px;
            height: 50px;
        }

        .rect-button-top:after {
            position: absolute;
            top: 50px;
            left: -10px;
        }
    }
}