.spacer {
    height: 200px;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a span {
    font-family: sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 3px #a7a7a7;
}

.menu {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#humburger-button-container {
    display: flex;
    flex-direction: column;
}

#humburger-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.humb-line {
    background-color: #13121e;
    width: 100%;
    height: 15%; 
}

.active {
    display: flex;
}

/* -----------rect buttons------------ */
.rect-buttons {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rect-button-top {
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #a7a7a7;
    transform: skew(50deg, -20deg);
    transition: background-color 0.3s ease-in-out,  translate 0.3s ease-in-out;
}

.rect-button-top > img {
    width: 40px;
}

.rect-button-top > span {
    font-family: sans-serif;
    font-size: 20px;
}

.rect-button-side-left {
    width: 60px;
    height: 25px;
    transform: skew(0, 40deg);
    background-color: #6e6e6e;
    position: relative;
    left: -29.5px;
    top: -1px;
    transition: background-color 0.3s ease-in-out,  translate 0.3s ease-in-out;
}

.rect-button-side-right {
    width: 130px;
    height: 25px;
    transform: skew(0, -20deg);
    background-color: #9e9d9d;
    position: relative;
    top: -24px;
    left: 30.5px;
    transition: background-color 0.3s ease-in-out, translate 0.3s ease-in-out;
}

.rect-button:hover > .rect-button-top{
    background-color: #229461;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-left{
    background-color: #17432f;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-right{
    background-color: #0f7446;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-top.telegram{
    background-color: #1c90b7;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-left.telegram{
    background-color: #0c3d4e;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-right.telegram{
    background-color: #176e8b;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-top.gmail{
    background-color: #de4e00;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-left.gmail{
    background-color: #753918;
    translate: 0 -25px;
}

.rect-button:hover > .rect-button-side-right.gmail{
    background-color: #ab4812;
    translate: 0 -25px;
}

@media (min-width: 700px) {
    .header{
        height: 100px;
    }

    .mobile {
        display: none;
    }

    .pc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .mobile {
        padding: 28px;
        display: flex;
    }

    .humb-menu {
        display: none;
    }

    .active > .humb-menu {
        display: flex;
        flex-direction: column;
    }

    .menu-element:not(:last-child) {
        margin-bottom: 10px;
    }

    .pc {
        display: none;
    }
}