#animated-background {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.background-glow {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--bg-glow-color),var(--bg-primary-color));
    position: fixed;
    z-index: -2;
}

.background-glow-after-scroll {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--bg-glow-color),var(--bg-primary-color));
    position: fixed;
    z-index: 0;
    opacity: 0;
}

#background-pc-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 25px;
    transform-style: preserve-3d;
    animation: rotate-pc 10s infinite linear;
    z-index: -1;
}

.pixel-matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/Background_matrix/Pixel_matrix_2.png");
    filter: brightness(0) blur(1px);
    color: var(--bg-primary-color);
    z-index: 1;
}

.inner-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, transparent,var(--bg-outer-shadow));
    z-index: 2;
}

.front, .left, .right, .back {
    width: 700px;
    height: 700px;
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top, .bottom {
    width: 700px;
    height: 700px;
    transform-style: preserve-3d;
    position: absolute;
    transform: rotateX(-90deg);
}

.left {
    transform: rotateY(90deg);
}

.right {
    transform: rotateY(-90deg);
}

.first-part, .second-part, .third-part, .fourth-part {
    filter: blur(5px);
}

/*-----------------------front side-----------------------*/

.front > .first-part {
    position: relative;
    background-color: var(--pc-front-color);
    width: 55%;
    height: 45%;
}

.front > .first-part .pc-screen {
    position: relative;
    top: 10%;
    left: 7.5%;
    width: 85%;
    height: 80%;
    background-color: var(--pc-screen-color);
}

.front > .first-part .pc-button {
    position: relative;
    top: 12.5%;
    left: 85%;
    width: 5%;
    height: 5%;
    background-color: #350d20;
}

.front > .second-part {
    background-color: var(--pc-front-color);
    width: 20%;
    height: 5%;
}

.front > .third-part {
    background-color: var(--pc-front-color);
    width: 60%;
    height: 20%;
}

.front > .fourth-part {
    background-color: var(--pc-front-color);
    width: 80%;
    height: 10%;
}

/*-----------------------left side-----------------------*/

.left > .first-part {
    background-color: var(--pc-left-color);
    width: 40%;
    height: 45%;
}

.left > .first-part::after {
    content: "";
    display: inline-block;
    position: relative;
    right: -15%;
    width: 100%;
    height: 100%;
    background-color: var(--pc-left-color);
    transform: skewX(10deg);
}

.left > .second-part {
    background-color: var(--pc-left-color);
    margin-left: 10%;
    width: 20%;
    height: 5%;
}

.left > .third-part {
    background-color: var(--pc-left-color);
    margin-left: 10%;
    width: 50%;
    height: 20%;
}

.left > .fourth-part {
    background-color: var(--pc-left-color);
    margin-right: 10%;
    width: 70%;
    height: 10%;
}

/*-----------------------right side-----------------------*/

.right > .first-part {
    background-color: var(--pc-right-color);
    width: 40%;
    height: 45%;
}

.right > .first-part::after {
    content: "";
    display: inline-block;
    position: relative;
    left: -15%;
    width: 100%;
    height: 100%;
    background-color: var(--pc-right-color);
    transform: skewX(-10deg);
}

.right > .second-part {
    background-color: var(--pc-right-color);
    margin-right: 10%;
    width: 20%;
    height: 5%;
}

.right > .third-part {
    background-color: var(--pc-right-color);
    margin-right: 10%;
    width: 50%;
    height: 20%;
}

.right > .fourth-part {
    background-color: var(--pc-right-color);
    margin-left: 10%;
    width: 70%;
    height: 10%;
}

/*-----------------------back side-----------------------*/

.back > .first-part {
    background-color: var(--pc-back-color);
    width: 55%;
    height: 45.5%;
}

.back > .second-part {
    background-color: var(--pc-back-color);
    width: 20%;
    height: 5%;
}

.back > .third-part {
    background-color: var(--pc-back-color);
    width: 60%;
    height: 20%;
}

.back > .fourth-part {
    background-color: var(--pc-back-color);
    width: 80%;
    height: 10%;
}

/*-------------------top sides-----------------*/

.top > .first-part {
    position: absolute;
    top: 30%;
    left: 22.5%;
    background-color: var(--pc-top-color);
    width: 55%;
    height: 41%;
}

.top > .second-part {
    position: relative;
    background-color: var(--pc-top-color);
    top: 30%;
    left: 20%;
    width: 60%;
    height: 50%;
}

.top > .third-part {
    position: relative;
    top: -40%;
    left: 10%;
    background-color: var(--pc-top-color);
    width: 80%;
    height: 70%;
}

/*-------------------bottom sides-----------------*/

.bottom > .first-part {
    position: absolute;
    top: 30%;
    left: 22.5%;
    background-color: var(--pc-bottom-color);
    width: 55%;
    height: 50%;
}

.bottom > .second-part {
    position: relative;
    top: 10%;
    left: 10%;
    background-color: var(--pc-bottom-color);
    width: 80%;
    height: 70%;
}

@keyframes rotate-pc {
    0% {
        transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(10deg);
    }
}