:root {
    --pc-front-color: #273445;
    --pc-screen-color: #224d26;
    --pc-left-color: #152132;
    --pc-top-color: #394b64;
    --pc-back-color: #071931;
    --pc-right-color: #273549;
    --pc-bottom-color: #082f1b;
}